<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  
  <div class="col-md-8">
    <% if logged_in? and @recipe.chef == current_user || current_user.admin? %>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>
    
    <% if logged_in? and current_user.admin? %>
      <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    
    <h3><%= @recipe.summary %></h3>
    
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>

    <div class="well">
      <% if @recipe.styles.any? %>
        <p>Styles: <%= render :partial => "shared/style", :collection => @recipe.styles, :spacer_template => "shared/comma" %></p>
      <% end %>
      
      <% if @recipe.ingredients.any? %>
        <p>Ingredients: <%= render :partial => "shared/ingredient", :collection => @recipe.ingredients, :spacer_template => "shared/comma" %></p>
      <% end %>
      
      <p>
        <strong>Steps:</strong>
      </p>
      
      <%= simple_format(@recipe.description) %>
      
      <%= render 'shared/like_dislike', current_user: current_user, recipe: @recipe %>
      
      <br />
    </div>
  </div>
</div>

<h5><%= link_to "Return to Recipes Listing", recipes_path, class:"btn btn-warning btn-small" %></h5>

<h2 class="left margin-top-40 margin-bottom-0 review_title">Reviews <span class="review_count"><%= @recipe.reviews.count %></span></h2>
    
<hr class="margin-top-10" />

<% if !logged_in? %>
  <div class="unauth_review_footer">
    <p>You must be signed in to add a review.</p>
    <p>Please <strong><%= link_to "Log in", login_path %></strong> or <strong><%= link_to "Sign up", register_path %></strong></p>
  </div>
<% elsif !@recipe.user_reviewed(current_user) %>
  <div class="review">
    <div class="review_header">
      <div class="review_header_left">
        <%= gravatar_for(current_user, size:50) %>
        <div class="margin-left-10"><%= current_user.chefname %></div>
      </div><div class="review_header_right">
        <ul class="rating">
          <% (1..5).each do |i| %>
            <li class="rating_star" data-stars=<%= i %> id=<%= "li_rating_#{i}" %>></li>
          <% end %>
        </ul>
      </div>
    </div>

    <hr class="margin-top-10 margin-bottom-10" />

    <%= form_tag review_recipe_path(@recipe)  do %>
      <%= text_area_tag :content, nil, :rows => 5, :placeholder => "Leave a review!" %>
      <%= submit_tag 'Post Review', class: 'btn btn-success review_submit' %>
      
      <% (0..5).each do |i| %>
        <%= radio_button_tag :rating, i, i == 0, class: 'rating_radio' %> 
      <% end %>
    <% end %>
  </div>
<% end %>

<% @recipe.reviews.each do |review| %>
  <div class="review">
    <%= link_to chef_path(review.chef) do %>
      <div class="review_header">
        <div class="review_header_left_large">
          <%= gravatar_for(review.chef, size:50) %>
          <div class="margin-left-10"><%= review.chef.chefname %>
          </div>
        </div><div class="review_header_right_small">
            <ul class="rating_small">
              <% (1..5).each do |i| %>
                <li class="rating_star_small <%= 'on_small' if i <= review.rating %>" %></li>
              <% end %>
            </ul>
            <div class="review_timestamp">
              <%= review.created_at.strftime("%d/%m/%Y") %>
            </div>
        </div>
      </div>
    <% end %>
     
    <hr class="margin-top-10 margin-bottom-10" />
     
    <div class="review_body">
      <%= simple_format(review.content) %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    var preloadImage = new Image();
    preloadImage.src = "/assets/star_filled.png";
    
    $('.rating_star').click(function() {
      var stars = $(this).attr('data-stars');
      
      for(i=1; i<=5; i++) {
        if(i <= stars) {
          $('#li_rating_' + i).addClass('on');
        } else {
          $('#li_rating_' + i).removeClass('on');
        }
      }
      
      $('#rating_' + stars).prop("checked", true);
    });
  });
</script>